<div class="section feedback">
   <div class="wrapper">
      <div class="feedback__body">
         <ul class="contacts contacts__list" title="контактные данные">
            <h4 class="feedback__title">Получить консультацию</h4>
            <li class="contacts__item">
               <span class="contacts__icon contacts__icon_tel"></span>
               <p class="contacts__label">Телефон:</p>
               <div class="contacts__block">
                  <a href="tel:+375173605155" target="_blank" class="contacts__link" aria-label="Наш телефон">+375
                     (44) 560-61-21</a>
               </div>
            </li>
            <li class="contacts__item">
               <span class="contacts__icon contacts__icon_mail"></span>
               <p class="contacts__label">Электронная почта:</p>
               <a href="mailto:khatkevich.alena@gmail.com" target="_blank" class="contacts__link"
                  aria-label="Мой e-mail">
                  khatkevich.alena@gmail.com</a>
            </li>
            <li class="contacts__item">
               <span class="contacts__icon contacts__icon_clock"></span>
               <p class="contacts__label">Время работы:</p>
               <p class="contacts__info" aria-label="Время работы"> с 8.30 до 17.30,
                  кроме субботы и воскресенья
               </p>
            </li>
         </ul>
         <form id="" action="" method="">
            <div class="form__container">
               <div class="group">
                  <input id="organization" type="text" class="name_hid" name="organization" autocomplete="off"
                     placeholder="-">
                  <span class="bar"></span>
                  <label for="organization">Организация:</label>
               </div>
               <div class="group">
                  <input id="fio" type="text" class="name_hid" name="fio" autocomplete="off" placeholder="-" required>
                  <span class="bar"></span>
                  <label for="fio">Фамилия, имя:<span class="flag">*</span></label>
               </div>
               <div class="group">
                  <input id="phone" type="tel" name="phone" class="input--tel" autocomplete="off" placeholder="-"
                     required>
                  <span class="bar"></span>
                  <label for="phone">Телефон:<span class="flag">*</span></label>
               </div>
               <div class="group">
                  <input id="email" type="email" placeholder="-" name="email" autocomplete="off">
                  <span class="bar"></span>
                  <label for="email">Email:</label>
               </div>
               <div class="group group__message">
                  <textarea rows="4" name="message" autocomplete="off" placeholder="-"></textarea>
                  <span class="bar"></span>
                  <label>Сообщение:</label>
               </div>
            </div>
            <p>Поля, отмеченные символом<span class="flag"> &#9913; </span>, являются обязательными для заполнения.</p>
            <button type="submit" class="button btn submit-btn">Отправить</button>
         </form>
      </div>
   </div>

</div>