.section__container {
   @include flex-all-center;
   position: absolute;
   left: $wrapper-offset;
   top: 0;

   .section__title {
      color: $color-light-primary;
      background-color: $color-contrast;
      min-width: 250px;
      padding: 1.2em;
      @include flex-all-center;
      text-transform: uppercase;
   }

   .section__link {
      @include flex-all-center(10px);
      padding: 1.2em;
      transition: color 0.3s ease-in-out;

      &_light {
         color: $color-dark-primary;

         path {
            stroke: $color-dark-primary;
            transition: stroke 0.3s ease-in-out;
         }
      }

      &_light:hover {
         color: $color-contrast;

         path {
            stroke: $color-contrast;
         }
      }

   }
}

button {
   cursor: pointer;
   font-family: $main-font-family;
   font-size: 0.9em;
   font-weight: 700;

   &.btn {
      padding: 1em 2em;
      @include flex-all-center;
      text-transform: uppercase;
      text-align: center;
      color: $color-contrast;
      border: 2px solid $color-contrast;
      background: inherit;
      transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

      &:hover {
         background: $color-contrast;
         color: $color-light-primary;
      }
   }
}