<div class="section services">
   <div class="wrapper">
      <div class="section__container">
         <h4 class="section__title">услуги</h4>
         <a href="#" class="section__link section__link_light">смотреть подробнее
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
               <g id="Arrow / Arrow_Right_LG">
                  <path id="Vector" d="M21 12L16 7M21 12L16 17M21 12H3" stroke="white" stroke-width="1"
                     stroke-linecap="round" stroke-linejoin="round" />
               </g>
            </svg>
         </a>
      </div>
      <ul class="services__list">
         <li class="services__item"><a href="#" class="services__link">Инструкция по обращению с отходами
               производства</a></li>
         <li class="services__item"><a href="#" class="services__link">Экологический паспорт предприятия</a></li>
         <li class="services__item services__item_main"><a href="#"
               class="services__link services__link_main">Разработка
               документов</a>
         </li>
         <li class="services__item"><a href="#" class="services__link">Инструкция по осуществлению производственных
               экологических наблюдений</a></li>
         <li class="services__item services__item_main"><a href="#"
               class="services__link services__link_main">Экологическая поддержка
            </a></li>
         <li class="services__item"><a href="#" class="services__link">Организация документооборота в области охраны
               окружающей среды</a></li>
         <li class="services__item"><a href="#" class="services__link">Подготовка и своевременное предоставление
               государственной статистической экологической отчетности</a></li>
         <li class="services__item"><a href="#" class="services__link">Расчет платежей за негативное воздействие на
               окружающую среду с заполнением налоговой декларации</a></li>
         <li class="services__item"><a href="#" class="services__link">Определение необходимого перечня учетных
               документов</a></li>
         <li class="services__item"><a href="#" class="services__link">Выявление недостающей природоохранной
               документации</a></li>
         <li class="services__item"><a href="#" class="services__link">Анализ существующей документации на
               соответствие требованиям законодательства</a></li>
         <li class="services__item services__item_main"><a href="#" class="services__link services__link_main">Аудит
               документов</a></li>
         <li class="services__item"><a href="#" class="services__link">Анкетирование предприятия для выявления проблем в
               области охраны окружающей среды</a></li>
         <li class="services__item services__item_main"><a href="#"
               class="services__link services__link_main">Консультации</a></li>
         <li class="services__item"><a href="#" class="services__link">Рекомендации по устранению проблем и налаживанию
               работы по ведению природоохранной документации на предприятии</a></li>
         <li class="services__item"><a href="#" class="services__link"></a></li>
      </ul>
   </div>
</div>