.services {
   background-color: $color-dark-complementary;

   .wrapper {
      padding-top: 4em;
      padding-bottom: 2em;
      position: relative;
   }

   .section__link {
      &_light:hover {
         color: $color-light-primary;

         path {
            stroke: $color-light-primary;
         }
      }
   }

   &__list {
      padding: 1em 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 3px;
   }

   &__item {
      padding: 5px;
      border: 2px dashed $color-contrast;
      transition: all 0.3s linear;

      &:hover {
         background-color: $color-contrast;
      }

      &_main {
         background-color: $color-light-complementary;
         border: none;
      }
   }

   &__link {
      color: $color-light-primary;
      font-size: 16px;
      font-weight: 300;
      @include flex-all-center;
      height: 100%;
      width: 100%;
      text-align: center;

      &_main {
         color: $color-dark-complementary;
         text-transform: uppercase;
         font-weight: 600;
         transition: color 0.3s ease;

         &:hover {
            color: $color-light-primary;
         }
      }
   }
}