<div class="section area monitoring">

   <div class="wrapper">
      <div class="area__info">
         <h3>
            У нас вы можете заказать разработку инструкции по осуществлению производственных наблюдений <br>(ранее -
            производственный экологический контроль, ПЭК). </h3>
         <p>для получения консультации по разработке инструкции по осуществления производственных наблюдений
            (производственного экологического контроля) вы можете обратиться к нашим специалистам по телефону: <a
               href="tel:+375173605155" target="_blank" class="area__link area__link_tel" aria-label="Наш телефон">+375
               (44) 560-61-21</a>
         </p>
         <a href="#" class="area__link">узнать подробнее
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
               <g id="Arrow / Arrow_Right_LG">
                  <path id="Vector" d="M21 12L16 7M21 12L16 17M21 12H3" stroke="white" stroke-width="1"
                     stroke-linecap="round" stroke-linejoin="round" />
               </g>
            </svg>
         </a>
      </div>
   </div>
   <div class="wrapper">
      <article class="outline">
         <h3>Производственные наблюдения в области охраны окружающей среды, рационального использования природных
            ресурсов (далее
            производственные наблюдения)</h3>
         <p>осуществляются юридическими лицами и индивидуальными предпринимателями в соответствии со статьей 94 Закона
            Республики Беларусь от 26.11.1992 N 1982-XII "Об охране окружающей среды"</p>
      </article>
      <div class="questions">
         <ul class="accordion__list">
            <li class="accordion open">
               <button class="accordion__header" aria-expanded="false">
                  <img src="@img/Question.svg" alt="icon">
                  <p class="questions__question">Что такое производственные наблюдения?</p>
               </button>
               <div class="accordion__body" aria-hidden="true">
                  <div class="accordion__content questions__answer">
                     <p>
                        В соответствии со сложившейся практикой, производственные наблюдения в области охраны окружающей
                        среды представляют собой систему мер и действий, направленных на
                        контроль и обеспечение соблюдения требований по охране окружающей среды.</p>
                     <p>Они
                        включают в себя организацию и проведение мониторинга воздействия хозяйственной и иной
                        деятельности на окружающую среду,
                        отбор проб и проведение измерений, анализ полученных данных, и разработку мер по улучшению
                        ситуации.</p>
                     <p> Цель
                        производственных наблюдений - не допустить нарушения природоохранного законодательства,
                        минимизировать вредное воздействие производственных процессов на
                        окружающую среду и обеспечить рациональное использования природных ресурсов.
                     </p>
                  </div>
               </div>
            </li>
            <li class="accordion">
               <button class="accordion__header" aria-expanded="false">
                  <img src="@img/Question.svg" alt="icon">
                  <p class="questions__question">Кто именно должен осуществлять производственные наблюдения?</p>
               </button>
               <div class="accordion__body" aria-hidden="true">
                  <div class="accordion__content questions__answer">
                     <p>
                        Обязанность обеспечить осуществление производственных наблюдений возложена на юридических лиц и
                        индивидуальных предпринимателей, которые осуществляют хозяйственную и иную деятельность,
                        оказывающую вредное воздействие на окружающую среду.</p>
                     <p>Под вредным воздействием понимается любое
                        прямое или косвенное воздействие, последствия которого приводят к отрицательным изменениям
                        окружающей среды.
                     </p>
                  </div>
               </div>
            </li>
            <li class="accordion">
               <button class="accordion__header" aria-expanded="false">
                  <img src="@img/Question.svg" alt="icon">
                  <p class="questions__question">Какие документы должно иметь предприятие в рамках осуществления
                     производственных наблюдений?</p>
               </button>
               <div class="accordion__body" aria-hidden="true">
                  <div class="accordion__content questions__answer">
                     <p>Здесь приведен перечень основных документов, наличие которых регламентировано Постановлением
                        Министерства
                        природных ресурсов и охраны
                        окружающей среды Республики Беларусь от 11.10.2013 N 52 (ред. от
                        24.10.2019) "Об осуществлении производственных наблюдений в области охраны окружающей среды,
                        рационального использования
                        природных ресурсов":</p>
                     <ul>
                        <li>
                           <p>
                              инструкция по осуществлению производственных наблюдений в области охраны окружающей среды,
                              рационального использования природных ресурсов;
                              <a href="/documents.html" class="documents__link">
                                 посмотреть пример документа
                                 <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12L16 7M21 12L16 17M21 12H3" stroke-width="1" stroke-linecap="round"
                                       stroke-linejoin="round" />
                                 </svg>
                              </a>
                           </p>
                        </li>
                        <li>
                           <p>план-график (план мероприятий) по осуществлению производственных наблюдений;<a
                                 href="/documents.html" class="documents__link">
                                 посмотреть пример документа
                                 <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12L16 7M21 12L16 17M21 12H3" stroke-width="1" stroke-linecap="round"
                                       stroke-linejoin="round" />
                                 </svg>
                              </a></p>
                        </li>
                        <li>
                           <p>
                              документы составляемые по результатам производственных наблюдений: акты производственных
                              наблюдений, требования (предписания) об устранении нарушений (недостатков), журналы учета
                              таких документов;<a href="/documents.html" class="documents__link">
                                 посмотреть пример документа
                                 <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12L16 7M21 12L16 17M21 12H3" stroke-width="1" stroke-linecap="round"
                                       stroke-linejoin="round" />
                                 </svg>
                              </a>
                           </p>
                        </li>
                        <li>
                           <p>
                              перечень работников, организующих и осуществляющих производственные наблюдения,
                              подлежащих профессиональной подготовке и
                              повышению квалификации;<a href="/documents.html" class="documents__link">
                                 посмотреть пример документа
                                 <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12L16 7M21 12L16 17M21 12H3" stroke-width="1" stroke-linecap="round"
                                       stroke-linejoin="round" />
                                 </svg>
                              </a>
                           </p>
                        </li>
                        <li>
                           <p>
                              перечень работников, занятых на работах, оказывающих вредное воздействие на окружающую
                              среду,
                              подлежащих профессиональной подготовке и
                              повышению квалификации;<a href="/documents.html" class="documents__link">
                                 посмотреть пример документа
                                 <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12L16 7M21 12L16 17M21 12H3" stroke-width="1" stroke-linecap="round"
                                       stroke-linejoin="round" />
                                 </svg>
                              </a>
                           </p>
                        </li>
                        <li>
                           <p>программа инструктажа по охране окружающей среды;<a href="/documents.html"
                                 class="documents__link">
                                 посмотреть пример документа
                                 <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12L16 7M21 12L16 17M21 12H3" stroke-width="1" stroke-linecap="round"
                                       stroke-linejoin="round" />
                                 </svg>
                              </a></p>
                        </li>
                        <li>
                           <p>журнал подтверждающий проведение инструктажей по охране окружающей среды;<a
                                 href="/documents.html" class="documents__link">
                                 посмотреть пример документа
                                 <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 12L16 7M21 12L16 17M21 12H3" stroke-width="1" stroke-linecap="round"
                                       stroke-linejoin="round" />
                                 </svg>
                              </a></p>
                        </li>
                     </ul>
                     <p>Следует учесть, что перечень и содержание документов зависит от конкретного предприятия, его
                        организационной структуры,
                        специфики деятельности и индивидуальных экологических аспектов, и определяется при разработке
                        инструкции по осуществлению производственных экологических наблюдений.</p>
                  </div>
               </div>
            </li>
            <li class="accordion">
               <button class="accordion__header" aria-expanded="false">
                  <img src="@img/Question.svg" alt="icon">
                  <p class="questions__question">Что такое Инструкция по осуществлению производственных наблюдений?</p>
               </button>
               <div class="accordion__body" aria-hidden="true">
                  <div class="accordion__content questions__answer">
                     <p>
                        Инструкция по осуществлению производственных наблюдений - это документ, который определяет
                        последовательность действий при проведении производственных наблюдений.
                     </p>
                     <p>
                        Инструкция по осуществлению производственных наблюдений разрабатывается предприятием
                        самостоятельно и утверждается решением (приказом, распоряжением). Допускается разработка
                        инструкции с привлечением сторонней организации.
                     </p>
                     <p>
                        Инструкция должна включать в себя перечень обязательных разделов, содержащих информацию о том,
                        как организован процесс наблюдений, включая выбор
                        мест для отбора проб и
                        проведение измерений.
                     </p>
                     <p>
                        Кроме того инструкция должна учитывать специфику деятельности предприятия,
                        вредное воздействие этой
                        деятельности на окружающую среду и текущее состояние окружающей среды в зоне воздействия
                        предприятия.
                     </p>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>