.header {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   padding: 10px 0;

   &__contacts {
      @include flex-center-end(10px)
   }

   .contacts__link {
      @include flex-all-center;
      border: none;
      height: 45px;
      width: 45px;
      position: relative;

      path {
         transition: fill 0.3s lease-out;
      }

      &::before,
      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         transition: all 0.3s ease-in-out;
         transform: scale(0.8);
      }

      &::after {
         border-top: 3px solid transparent;
         border-left: 3px solid transparent;
      }

      &::before {
         border-bottom: 3px solid transparent;
         border-right: 3px solid transparent;
      }

      &:hover {
         path {
            fill: $color-contrast;
            transition: fill 0.3s lease-out;
         }

         &::before,
         &::after {
            border-bottom: 3px solid $color-contrast;
            border-right: 3px solid $color-contrast;
            border-top: 3px solid $color-contrast;
            border-left: 3px solid $color-contrast;
            transform: scale(1);
         }
      }
   }
}