.header .nav {
   display: grid;
   grid-template-columns: auto 1fr;

   .nav__list {
      height: 100%;
      @include flex-all-center;
   }

   span.nav__link {
      @include flex-all-center(5px);
   }
}

.header .nav .drop-down {
   position: relative;

   .nav__list {
      height: min-content;
      display: none;
      background-color: rgb(102, 102, 102, 0.95);
      @include flex-column-start;
      position: absolute;
      left: 0;
      top: 94%;
      width: max-content;
      opacity: 0;
      visibility: hidden;
      transform: scale(1, 0.9);
      transform-origin: top left;
      transition: all 0.5s ease-in-out;
      padding: 1em;

      &:before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         height: 3px;
         width: 0;
         background-color: $color-contrast;
         transition: width 0.5s ease-in-out;
      }
   }

   svg {
      transition: transform 0.3s ease;
   }

   &.active {
      background-color: rgb(102, 102, 102, 0.9);

      .nav__list {
         opacity: 1;
         visibility: visible;
         transform: scale(1);
      }

      .nav__list:before {
         width: 100%;
      }

      svg {
         transform: rotate(180deg);
      }
   }
}