@import "./nav-l-sidebar.scss";
@import "./nav-r-sidebar.scss";
@import "./nav-header.scss";

.nav {
   &__item {
      height: 100%;
      @include flex-all-center;
   }

   &__link {
      position: relative;
      @include flex-all-center;
      color: $color-light-primary;
      text-transform: uppercase;
      transition: all 0.3s ease;
      padding: 10px;

      &:before {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         height: 3px;
         width: 0;
         background-color: $color-contrast;
         transition: width 0.5s ease-in-out;
      }

      &:hover:before {
         width: 100%;
      }
   }
}